body {
    font-family: "Arial";
    --themecolor: #002060;
}

body.justify{
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial";
    color: #000000;
    display: block;
}

.scale-img {
  // width: 250px; /*画像の幅*/
  // height: 175px; /*画像の高さ*/
  transition-duration: 0.5s; /*変化の時間*/
  }
  .scale-img:hover {
  transform: scale(1.1,1.1); /*画像の拡大*/
  cursor: pointer; /*カーソルをポインターにする*/
  }
  
.wy-side-nav-search {
  background-color: var(--themecolor);
}

.wy-nav-top {
  background-color: var(--themecolor);
}

.wy-menu-vertical a, .wy-menu-vertical .subnav a {
  color: white;
}

.wy-menu-vertical * li.current a {
  color: #333333;
}

.wy-menu-vertical ul {
  color: #333333;
}

.wy-menu-vertical span {
  color: #333333;
}




