body {
    font-family: "Arial";
    --themecolor: #002060;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arial";
    color: #000000;
    display: block;
}

.wy-side-nav-search {
  background-color: var(--themecolor);
}

.wy-nav-top {
  background-color: var(--themecolor);
}

.wy-menu-vertical a, .wy-menu-vertical .subnav a {
  color: #333333;
}

.wy-menu-vertical * li.current a {
  color: #333333;
}

.wy-menu-vertical ul {
  color: #333333;
}

.wy-menu-vertical span {
  color: #333333;
}




